albumentations
evalutils
Pillow
PyYAML
faster-coco-eval
ipykernel
ipywidgets
lightning
matplotlib
numpy
nbformat
opencv_python
openslide_python
plotly
psutil
pytest
requests
torch
torchvision
tqdm
wandb
